In [1]:
import pandas as pd
df = pd.read_csv('./data/school_data.csv')
df

      이름  수학   영어  국어 수학교사 영어교사 국어교사
0    강아지  66   61  26  김선생  장선생  최선생
1    고양이  92   48  80  김선생  장선생  이선생
2     토끼  98    7   6  김선생  장선생  최선생
3     사자  17   99  14  김선생  유선생  최선생
4    호랑이  83   92  75  박선생  장선생  이선생
5      곰  57   52  54  김선생  유선생  이선생
6    원숭이  86   97  71  김선생  장선생  이선생
7     기린  97   85   1  김선생  유선생  최선생
8    코끼리  96   94  43  김선생  유선생  이선생
9     판다  47   27  58  박선생  장선생  이선생
10    늑대  73   34  55  박선생  장선생  최선생
11    여우  32   97  25  박선생  유선생  이선생
12    펭귄  46   76  50  김선생  장선생  이선생
13  하이에나  96   40  84  김선생  장선생  최선생
14   코알라  25    3  56  박선생  장선생  이선생
15    강치  83   69  49  박선생  유선생  이선생
16   햄스터  78   64  12  김선생  장선생  최선생
17     뱀  36   75  18  김선생  장선생  이선생
18   독수리  96   34  81  박선생  장선생  이선생
19   침팬지  80   58   1  박선생  장선생  이선생
20    하마  68   10  51  박선생  유선생  이선생
21   두더지  49   22  44  김선생  유선생  최선생
22    물소  55   77  48  박선생  장선생  이선생
23   캥거루  67   18  56  김선생  장선생  최선생
24    참새   2  100  91  김선생  유선생  최선생
25    타조  84   15  49  박선생  유선생  이선생
26   개구리  39   27  86  박선생  장선생  이선생
27   펠리칸  66   30   3  김선생  유선생  이선생
28   돌고래  84   52  67  박선생  유선생  최선생
29     매  47   70  11  김선생  유선생  이선생

### 풀이

In [3]:
# 수학, 영어, 국어 점수 합계
df['total_score'] = df[['수학', '영어', '국어']].sum(axis=1)
df

      이름  수학   영어  국어 수학교사 영어교사 국어교사  total_score
0    강아지  66   61  26  김선생  장선생  최선생          153
1    고양이  92   48  80  김선생  장선생  이선생          220
2     토끼  98    7   6  김선생  장선생  최선생          111
3     사자  17   99  14  김선생  유선생  최선생          130
4    호랑이  83   92  75  박선생  장선생  이선생          250
5      곰  57   52  54  김선생  유선생  이선생          163
6    원숭이  86   97  71  김선생  장선생  이선생          254
7     기린  97   85   1  김선생  유선생  최선생          183
8    코끼리  96   94  43  김선생  유선생  이선생          233
9     판다  47   27  58  박선생  장선생  이선생          132
10    늑대  73   34  55  박선생  장선생  최선생          162
11    여우  32   97  25  박선생  유선생  이선생          154
12    펭귄  46   76  50  김선생  장선생  이선생          172
13  하이에나  96   40  84  김선생  장선생  최선생          220
14   코알라  25    3  56  박선생  장선생  이선생           84
15    강치  83   69  49  박선생  유선생  이선생          201
16   햄스터  78   64  12  김선생  장선생  최선생          154
17     뱀  36   75  18  김선생  장선생  이선생          129
18   독수리  96   34  81  박선생  장선생  이선생          211
19   침팬지  80   58   1  박선생  장선생  이선생          139
20    하마  68   10  51  박선생  유선생  이선생          129
21   두더지  49   22  44  김선생  유선생  최선생          115
22    물소  55   77  48  박선생  장선생  이선생          180
23   캥거루  67   18  56  김선생  장선생  최선생          141
24    참새   2  100  91  김선생  유선생  최선생          193
25    타조  84   15  49  박선생  유선생  이선생          148
26   개구리  39   27  86  박선생  장선생  이선생          152
27   펠리칸  66   30   3  김선생  유선생  이선생           99
28   돌고래  84   52  67  박선생  유선생  최선생          203
29     매  47   70  11  김선생  유선생  이선생          128

In [4]:
# 합계 점수를 기준으로 상위 10명 선택
top10 = df.nlargest(10, 'total_score')
top10

      이름  수학   영어  국어 수학교사 영어교사 국어교사  total_score
6    원숭이  86   97  71  김선생  장선생  이선생          254
4    호랑이  83   92  75  박선생  장선생  이선생          250
8    코끼리  96   94  43  김선생  유선생  이선생          233
1    고양이  92   48  80  김선생  장선생  이선생          220
13  하이에나  96   40  84  김선생  장선생  최선생          220
18   독수리  96   34  81  박선생  장선생  이선생          211
28   돌고래  84   52  67  박선생  유선생  최선생          203
15    강치  83   69  49  박선생  유선생  이선생          201
24    참새   2  100  91  김선생  유선생  최선생          193
7     기린  97   85   1  김선생  유선생  최선생          183

In [5]:
# 선택된 10명의 수학 평균 점수 계산
result = top10['수학'].mean()
print(round(result))

82