In [1]:
import pandas as pd
df = pd.read_csv('./data/delivery_time.csv')
df

,주문시간,실제도착시간,예상도착시간,앱종류,거리,결제종류,user
0,2023-07-26 08:05:49,2023-07-26 09:14:06,2023-07-26 08:39:42,여기여,1.93,카드,user_275
1,2022-11-07 10:21:54,2022-11-07 10:44:04,2022-11-07 10:50:15,배고팡,5.19,카드,user_360
2,2023-04-18 05:00:57,2023-04-18 06:12:46,2023-04-18 05:32:53,배고팡,13.85,카드,user_36
3,2023-08-18 10:46:28,2023-08-18 11:16:25,2023-08-18 11:08:33,배고팡,10.90,앱결제,user_65
4,2023-08-11 09:58:27,2023-08-11 11:27:57,2023-08-11 10:51:57,여기여,14.96,카드,user_176
...,...,...,...,...,...,...,...
995,2022-10-10 03:13:30,2022-10-10 04:13:48,2022-10-10 04:15:37,배고팡,1.79,현금,user_186
996,2023-02-03 12:47:19,2023-02-03 13:11:46,2023-02-03 13:12:57,배고팡,15.55,카드,user_239
997,2023-01-05 21:28:58,2023-01-05 21:57:41,2023-01-05 21:57:44,배고팡,8.33,현금,user_264
998,2023-06-15 03:56:42,2023-06-15 04:14:24,2023-06-15 04:18:38,여기여,8.20,앱결제,user_229
999,2023-08-02 20:53:53,2023-08-02 22:04:06,2023-08-02 22:09:22,여기여,5.33,카드,user_148

### 풀이

In [3]:
# datetime 자료형으로 변경
df['주문시간'] = pd.to_datetime(df['주문시간'])
print(df['주문시간'])
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
print(df['실제도착시간'])

0     2023-07-26 08:05:49
1     2022-11-07 10:21:54
2     2023-04-18 05:00:57
3     2023-08-18 10:46:28
4     2023-08-11 09:58:27
              ...
995   2022-10-10 03:13:30
996   2023-02-03 12:47:19
997   2023-01-05 21:28:58
998   2023-06-15 03:56:42
999   2023-08-02 20:53:53
Name: 주문시간, Length: 1000, dtype: datetime64[ns]
0     2023-07-26 09:14:06
1     2022-11-07 10:44:04
2     2023-04-18 06:12:46
3     2023-08-18 11:16:25
4     2023-08-11 11:27:57
              ...
995   2022-10-10 04:13:48
996   2023-02-03 13:11:46
997   2023-01-05 21:57:41
998   2023-06-15 04:14:24
999   2023-08-02 22:04:06
Name: 실제도착시간, Length: 1000, dtype: datetime64[ns]

In [7]:
# 점심시간 주문 선택
df['시간'] = df['주문시간'].dt.hour
print(df['시간'])

cond1 = df['시간'] >= 10
cond2 = df['시간'] < 13
df = df[cond1 & cond2]
df

1      10
3      10
7      11
18     11
22     10
       ..
968    12
973    12
981    10
994    12
996    12
Name: 시간, Length: 120, dtype: int32

,주문시간,실제도착시간,예상도착시간,앱종류,거리,결제종류,user,시간
1,2022-11-07 10:21:54,2022-11-07 10:44:04,2022-11-07 10:50:15,배고팡,5.19,카드,user_360,10
3,2023-08-18 10:46:28,2023-08-18 11:16:25,2023-08-18 11:08:33,배고팡,10.90,앱결제,user_65,10
7,2023-01-19 11:32:02,2023-01-19 13:10:13,2023-01-19 13:24:54,여기여,10.04,카드,user_337,11
18,2023-02-03 11:08:34,2023-02-03 12:08:07,2023-02-03 11:44:14,여기여,18.21,현금,user_198,11
22,2022-11-03 10:05:17,2022-11-03 11:25:32,2022-11-03 10:52:13,배달왕,4.25,카드,user_204,10
...,...,...,...,...,...,...,...,...
968,2022-09-07 12:02:51,2022-09-07 12:22:15,2022-09-07 12:28:03,배고팡,15.48,카드,user_153,12
973,2023-07-08 12:45:17,2023-07-08 13:58:27,2023-07-08 14:23:47,배고팡,1.60,카드,user_322,12
981,2023-03-08 10:51:00,2023-03-08 12:29:03,2023-03-08 11:54:56,배고팡,17.21,현금,user_311,10
994,2023-02-08 12:09:03,2023-02-08 13:24:56,2023-02-08 13:28:54,여기여,12.97,현금,user_418,12
996,2023-02-03 12:47:19,2023-02-03 13:11:46,2023-02-03 13:12:57,배고팡,15.55,카드,user_239,12

In [9]:
# 속도(km/h) = 거리(km) / 시간(h)
df['배달시간'] = df['실제도착시간'] - df['주문시간']
print(df['배달시간'])

df['배달시간'] = df['배달시간'].dt.total_seconds() / 60 / 60    # 시간 단위로 변경
print(df['배달시간'])

df['속도'] = df['거리'] / df['배달시간']
sum(df['속도'] >= 50)

1     0 days 00:22:10
3     0 days 00:29:57
7     0 days 01:38:11
18    0 days 00:59:33
22    0 days 01:20:15
            ...
968   0 days 00:19:24
973   0 days 01:13:10
981   0 days 01:38:03
994   0 days 01:15:53
996   0 days 00:24:27
Name: 배달시간, Length: 120, dtype: timedelta64[ns]
1      0.369444
3      0.499167
7      1.636389
18     0.992500
22     1.337500
         ...
968    0.323333
973    1.219444
981    1.634167
994    1.264722
996    0.407500
Name: 배달시간, Length: 120, dtype: float64

1