In [1]:
import pandas as pd
df = pd.read_csv('./data/type1_data1.csv')
df

        id   age city    f1  f2      f3    f4         f5  subscribed   views
0     id01   2.0   서울   NaN   0    gold  ENFJ  91.297791  2024-07-16  6820.0
1     id02   9.0   서울  70.0   1     NaN  ENFJ  60.339826  2024-05-12  2534.0
2     id03  27.0   서울  61.0   1    gold  ISTJ  17.252986  2024-03-16  7312.0
3     id04  75.0   서울   NaN   2     NaN  INFP  52.667078  2024-07-21   493.0
4     id05  24.0   서울  85.0   2     NaN  ISFJ  29.269869  2024-03-07  1338.0
..     ...   ...  ...   ...  ..     ...   ...        ...         ...     ...
115  id114  22.0   대구  23.0   0    gold  INTP   0.000000  2025-02-17  9747.0
116  id115  23.0   부산  65.0   0     vip  ENTP   0.000000  2025-02-17  5628.0
117  id116  23.0   서울  12.0   1  silver  INFP   0.000000  2025-02-17  1267.0
118  id117  23.0   대구  65.0   2    gold  INFP   0.000000  2025-02-17  6543.0
119  id118  24.0   부산  94.0   1     vip  ESFJ   0.000000  2025-02-17  2356.0

[120 rows x 10 columns]

### 풀이

In [4]:
# 결측치가 있는 행 제거
df.dropna(inplace=True)
df

        id   age city     f1  f2      f3    f4         f5  subscribed    views
2     id03  27.0   서울   61.0   1    gold  ISTJ  17.252986  2024-03-16   7312.0
5     id06  22.0   서울   57.0   0     vip  INTP  20.129444  2024-09-12  21550.0
7     id08  38.0   서울  101.0   1  silver  INFJ  83.685380  2024-03-06   3260.0
9     id10  95.0   서울   74.0   1    gold  ISFP  98.429899  2024-04-03   9992.0
10   id100  47.0   경기   53.0   0     vip  ESFP  33.308999  2024-02-21  15535.0
..     ...   ...  ...    ...  ..     ...   ...        ...         ...      ...
115  id114  22.0   대구   23.0   0    gold  INTP   0.000000  2025-02-17   9747.0
116  id115  23.0   부산   65.0   0     vip  ENTP   0.000000  2025-02-17   5628.0
117  id116  23.0   서울   12.0   1  silver  INFP   0.000000  2025-02-17   1267.0
118  id117  23.0   대구   65.0   2    gold  INFP   0.000000  2025-02-17   6543.0
119  id118  24.0   부산   94.0   1     vip  ESFJ   0.000000  2025-02-17   2356.0

[70 rows x 10 columns]

In [5]:
# 70% 지점
end = int(len(df) * 0.7)
end

49

In [6]:
# 70% 데이터 슬라이싱
df = df.iloc[:end]
df

       id   age city     f1  f2      f3    f4         f5  subscribed    views
2    id03  27.0   서울   61.0   1    gold  ISTJ  17.252986  2024-03-16   7312.0
5    id06  22.0   서울   57.0   0     vip  INTP  20.129444  2024-09-12  21550.0
7    id08  38.0   서울  101.0   1  silver  INFJ  83.685380  2024-03-06   3260.0
9    id10  95.0   서울   74.0   1    gold  ISFP  98.429899  2024-04-03   9992.0
10  id100  47.0   경기   53.0   0     vip  ESFP  33.308999  2024-02-21  15535.0
11   id11  40.0   서울   68.0   0    gold  ENFP  98.429899  2024-10-29   6752.0
13   id13  15.0   서울   68.0   0    gold  ESFJ  83.685380  2024-12-30   5643.0
14   id14  77.0   서울   50.0   1    gold  ENTJ  67.886373  2024-09-19   5700.0
15   id15  22.0   서울   67.0   1    gold  ENTP   9.796378  2024-05-26   7676.0
16   id16  68.0   서울   85.0   0    gold  ESFP  16.283854  2024-07-25   9472.0
18   id18  41.0   서울   87.0   2    gold  ISFJ  80.138280  2024-03-03   7933.0
22   id22  -6.3   부산   72.0   1    gold  ENFP  52.667078  2024-02-09   6147.0
23   id23  34.0   부산   75.0   1    gold  ISTP  69.730313  2024-05-21   6236.0
24   id24  80.0   부산   44.0   0    gold  INFJ  73.586397  2024-09-11   5976.0
26   id26  55.0   부산   57.0   1    gold  ENFP  83.685380  2024-05-01   5857.0
27   id27  37.0   부산   60.0   0  silver  ESTP  73.586397  2024-10-13   4255.0
28   id28  38.0   부산   34.0   1    gold  ENTP  80.138280  2024-10-31   5068.0
29   id29 -13.5   부산   47.0   2    gold  ENTP  67.886373  2024-08-28   6793.0
31   id31  86.0   부산   77.0   0    gold  ESFJ  73.586397  2024-02-11   8014.0
32   id32  25.0   부산   64.0   0     vip  ISFJ  13.049921  2024-05-24  17421.0
33   id33  47.0   부산   94.0   0  silver  ENFJ  17.252986  2024-04-02   3880.0
36   id36  68.0   부산   77.0   1    gold  INTP  13.049921  2024-07-20   9713.0
40   id40  56.0   대구   75.0   0    gold  ENFP  17.252986  2024-01-22   8481.0
41   id41  81.0   대구   55.0   0    gold  ENFJ  37.113739  2024-10-04   8640.0
42   id42  65.0   대구   48.0   2    gold  ESTP  33.308999  2024-02-09   5999.0
43   id43  23.0   대구   60.0   0  silver  ISTP  29.269869  2024-05-18   3878.0
45   id45  97.0   대구   88.0   0    gold  ENFJ  13.049921  2024-06-21   8317.0
47   id47  34.6   대구   75.0   1    gold  ESTJ  90.496999  2024-05-28   8628.0
49   id49  75.0   대구   88.0   0    gold  INTP  37.113739  2024-03-31   9737.0
52   id52  97.0   대구   82.0   1    gold  ISFJ  90.496999  2024-05-20   8518.0
53   id53  52.0   대구   50.0   0    gold  ESTP  20.129444  2024-09-09   7012.0
55   id55  75.0   대구   63.0   2    gold  ENTP  13.049921  2024-02-06   6042.0
57   id57   3.0   대구  111.0   0  silver  ISFJ  29.269869  2024-01-12   4421.0
63   id63  88.0   경기   86.0   1  silver  ISFJ  73.586397  2024-12-01   4053.0
64   id64  43.0   경기   62.0   2    gold  ESFP  73.586397  2024-02-22   5995.0
68   id68  35.0   경기   45.0   2    gold  ISFP  67.886373  2024-07-29   8599.0
70   id70  -9.0   경기   96.0   1  silver  ISTP  48.431184  2024-11-17   4442.0
71   id71  35.0   경기   84.0   2    gold  ISFP  52.667078  2024-07-15   8087.0
74   id74  45.0   경기   98.0   0    gold  ESTP  52.667078  2024-05-27   7739.0
75   id75  63.0   경기   47.0   0    gold  ESTP  20.129444  2024-06-12   6779.0
78   id78  92.0   경기   96.0   1    gold  INTJ  69.730313  2024-10-27   7565.0
80   id80  67.0   경기   60.0   0  silver  ISFP  83.685380  2024-01-14   4381.0
83   id83  73.0   경기   50.0   1     vip  ENTP  80.138280  2024-09-26  19139.0
84   id84  66.0   경기   44.0   0    gold  INTP  83.685380  2024-12-19   5650.0
85   id85  83.6   경기   55.0   0    gold  INFJ  80.138280  2024-09-24   6719.0
89   id89  34.0   경기   66.0   1    gold  ENTJ  33.308999  2024-10-14   6119.0
91   id91   6.0   경기   72.0   0    gold  INTP   9.796378  2024-08-23   8988.0
92   id92  97.0   경기   78.0   1    gold  INFP  97.381034  2024-05-08   9625.0
95   id95  77.0   경기   43.0   1    gold  INTJ  91.297791  2024-05-21   8697.0

In [7]:
# 3사분위수, 1사분위수
q3 = df['views'].quantile(.75)
q1 = df['views'].quantile(.25)
print(q3)
print(q1)

8628.0
5857.0

In [8]:
# 결과 출력
print(int(q3 - q1))

2771

In [9]:
df['views'].describe()

count       49.000000
mean      7804.795918
std       3700.967328
min       3260.000000
25%       5857.000000
50%       7012.000000
75%       8628.000000
max      21550.000000
Name: views, dtype: float64