In [1]:
import pandas as pd
df = pd.read_csv('./data/school_data.csv')
df

      이름  수학   영어  국어 수학교사 영어교사 국어교사
0    강아지  66   61  26  김선생  장선생  최선생
1    고양이  92   48  80  김선생  장선생  이선생
2     토끼  98    7   6  김선생  장선생  최선생
3     사자  17   99  14  김선생  유선생  최선생
4    호랑이  83   92  75  박선생  장선생  이선생
5      곰  57   52  54  김선생  유선생  이선생
6    원숭이  86   97  71  김선생  장선생  이선생
7     기린  97   85   1  김선생  유선생  최선생
8    코끼리  96   94  43  김선생  유선생  이선생
9     판다  47   27  58  박선생  장선생  이선생
10    늑대  73   34  55  박선생  장선생  최선생
11    여우  32   97  25  박선생  유선생  이선생
12    펭귄  46   76  50  김선생  장선생  이선생
13  하이에나  96   40  84  김선생  장선생  최선생
14   코알라  25    3  56  박선생  장선생  이선생
15    강치  83   69  49  박선생  유선생  이선생
16   햄스터  78   64  12  김선생  장선생  최선생
17     뱀  36   75  18  김선생  장선생  이선생
18   독수리  96   34  81  박선생  장선생  이선생
19   침팬지  80   58   1  박선생  장선생  이선생
20    하마  68   10  51  박선생  유선생  이선생
21   두더지  49   22  44  김선생  유선생  최선생
22    물소  55   77  48  박선생  장선생  이선생
23   캥거루  67   18  56  김선생  장선생  최선생
24    참새   2  100  91  김선생  유선생  최선생
25    타조  84   15  49  박선생  유선생  이선생
26   개구리  39   27  86  박선생  장선생  이선생
27   펠리칸  66   30   3  김선생  유선생  이선생
28   돌고래  84   52  67  박선생  유선생  최선생
29     매  47   70  11  김선생  유선생  이선생

In [2]:
df_social = pd.read_csv('./data/school_data_social.csv')
df_social

      이름   사회 사회교사
0     기린   47  오선생
1      매   61  우선생
2      곰   48  우선생
3    개구리    7  오선생
4    코끼리   99  오선생
5    펠리칸   92  오선생
6     펭귄   52  오선생
7    두더지   97  우선생
8     여우   85  오선생
9    캥거루   94  우선생
10   독수리   27  우선생
11   호랑이   34  오선생
12    사자   97  우선생
13    참새   76  우선생
14   햄스터   40  우선생
15   코알라    3  오선생
16    하마   69  우선생
17    판다   64  우선생
18    강치   75  우선생
19    타조   34  오선생
20   강아지   58  오선생
21   고양이   10  오선생
22    물소   22  우선생
23    늑대   77  오선생
24   침팬지   18  오선생
25     뱀  100  우선생
26   원숭이   15  우선생
27   돌고래   27  우선생
28    토끼   30  오선생
29  하이에나   52  우선생

### 풀이

In [3]:
# '이름'을 기준으로 두 데이터프레임 합치기
merged_df = pd.merge(df, df_social, on='이름')
merged_df

      이름  수학   영어  국어 수학교사 영어교사 국어교사   사회 사회교사
0    강아지  66   61  26  김선생  장선생  최선생   58  오선생
1    고양이  92   48  80  김선생  장선생  이선생   10  오선생
2     토끼  98    7   6  김선생  장선생  최선생   30  오선생
3     사자  17   99  14  김선생  유선생  최선생   97  우선생
4    호랑이  83   92  75  박선생  장선생  이선생   34  오선생
5      곰  57   52  54  김선생  유선생  이선생   48  우선생
6    원숭이  86   97  71  김선생  장선생  이선생   15  우선생
7     기린  97   85   1  김선생  유선생  최선생   47  오선생
8    코끼리  96   94  43  김선생  유선생  이선생   99  오선생
9     판다  47   27  58  박선생  장선생  이선생   64  우선생
10    늑대  73   34  55  박선생  장선생  최선생   77  오선생
11    여우  32   97  25  박선생  유선생  이선생   85  오선생
12    펭귄  46   76  50  김선생  장선생  이선생   52  오선생
13  하이에나  96   40  84  김선생  장선생  최선생   52  우선생
14   코알라  25    3  56  박선생  장선생  이선생    3  오선생
15    강치  83   69  49  박선생  유선생  이선생   75  우선생
16   햄스터  78   64  12  김선생  장선생  최선생   40  우선생
17     뱀  36   75  18  김선생  장선생  이선생  100  우선생
18   독수리  96   34  81  박선생  장선생  이선생   27  우선생
19   침팬지  80   58   1  박선생  장선생  이선생   18  오선생
20    하마  68   10  51  박선생  유선생  이선생   69  우선생
21   두더지  49   22  44  김선생  유선생  최선생   97  우선생
22    물소  55   77  48  박선생  장선생  이선생   22  우선생
23   캥거루  67   18  56  김선생  장선생  최선생   94  우선생
24    참새   2  100  91  김선생  유선생  최선생   76  우선생
25    타조  84   15  49  박선생  유선생  이선생   34  오선생
26   개구리  39   27  86  박선생  장선생  이선생    7  오선생
27   펠리칸  66   30   3  김선생  유선생  이선생   92  오선생
28   돌고래  84   52  67  박선생  유선생  최선생   27  우선생
29     매  47   70  11  김선생  유선생  이선생   61  우선생

In [4]:
# 교사 필터링
cond1 = merged_df['영어교사'] == '장선생'
cond2 = merged_df['사회교사'] == '오선생'
merged_df[cond1 & cond2]

     이름  수학  영어  국어 수학교사 영어교사 국어교사  사회 사회교사
0   강아지  66  61  26  김선생  장선생  최선생  58  오선생
1   고양이  92  48  80  김선생  장선생  이선생  10  오선생
2    토끼  98   7   6  김선생  장선생  최선생  30  오선생
4   호랑이  83  92  75  박선생  장선생  이선생  34  오선생
10   늑대  73  34  55  박선생  장선생  최선생  77  오선생
12   펭귄  46  76  50  김선생  장선생  이선생  52  오선생
14  코알라  25   3  56  박선생  장선생  이선생   3  오선생
19  침팬지  80  58   1  박선생  장선생  이선생  18  오선생
26  개구리  39  27  86  박선생  장선생  이선생   7  오선생

In [5]:
# 필터링된 데이터에서 수학 점수 합
result = merged_df[cond1 & cond2]['수학'].sum()
print(result)

602